.ipynb_checkpoints/
__pycache__/

Deaths and Cases.png
weekly_cases_and_deaths.png
major_peak_timing.png
county_prominent_peaks.csv
major_case_peak_magnitudes.csv
major_death_peak_magnitudes.csv
major_peak_timing_comparison.csv
